<h1>Today's Games</h1>

<div style="text-align: center; width:700px; margin:auto;">
  <hr />
  <% @games.each do |current_game| %>
    <div style="width:100%; display: table; margin-top:20px;">
      <div class="game_cell"> 
      <span style="width:100px; float:left;"><%= current_game.numplayers %></span>
      <span style="width:200px; float:left;"><%= current_game.location %></span>
      <span style="width:100px; float:left;"><%= current_game.creator %></span>
      <span style="width:100px; float:left;"><%= current_game.datetime.to_formatted_s(:time) %></span>
      <span style="width:100px; float:left;"><%= link_to "Join", "/games/join?id=#{current_game.id}" %></span>
      <span style="width:100px; float:left;"><%= link_to "View", "/games/view" %></span>
      <br>
      </div>
      </div>
  <% end %>
</div>

