<!DOCTYPE html>
<html>
<head>
  <title>Pickup Basketball | <%= @title %></title>
 <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body >

    <div class="container">
    
    <div style="padding: 20px; background-color:#ffffff; "> 
      <div style="float: left; background-color:#ffffff;">
        <a href="/pages/home" style="color: #444; padding-left: 10px; padding-right: 10px;">Today</a> 
        <a href="/pages/locations" style="color:#444; padding-left: 10px; padding-right:10px;">Locations</a> 
        <a href="/games/new" style="color:#444;">Create Game</a>
      </div>
        <div class="login" style="font-family: helvetica; color:#444; ">
            <% if signed_in? %>
                <%= link_to "Sign out", "/sessions/destroy"%>
            <% else %>
                <%= link_to "Sign in", "/sessions/new" %>
            <% end %>
            <a href="/users/new" style="padding-right:40px; padding-left:20px; color:#444; ">Register</a>
        </div>
    </div>
      <header style="background-color: #ddd; text-align:center;">
        <%= image_tag("logo.png", :alt => "Sample App", :class => "round", :height => '75') %>
      </header>
                <% flash.each do |key, value| %>
                    <div style="margin:auto;" class="flash <%= key %>"><%= value %></div>
                <% end %>
              <%= yield %>
    </div>

</body>
</html>
